section#braidwood.accomodation
  .container
    h1.title Accomodation in Braidwood
    ul.lodging
      each place in lodging
        li.place
          i(class="#{place.icon}")
          p.distance #{place.distance} mins away from venue
          h3= place.name
          p.lodging-details=place.title
          a.button(href="#{place.url}" target="_blank") Visit website
