extends layout

block content
  header.homepage-header
    .container
      h1 Robin & Andrew

  section#details

  section#braidwood

  section#party
    .container
      .wedding-party
        h2 The Groomspeople
        ul.grooms-party
          each member in weddingParty.groom
            li
              img(src='#{member.img}')
              .info
                h1 #{member.name}
                p #{member.title}

        h2 The Bridespeople
        ul.bride-party
          each member in weddingParty.bride
            li
              img(src='#{member.img}')
              .info
                h1 #{member.name}
                p #{member.title}

  section#registry
    .container
      a(href='#registry') Gift registry